html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --desc-block-padding: 20px;
}

body {
    background: #24394f;
}

.page-container {
    width: min(1400px, 100%);
    padding-inline: 15px;
    margin-inline: auto;
}

.page-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-section.first {
    background-color: #f2f258;
    height: 100vh;
}

.container-body.columns2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 100%;
    width: 100%;
}

.left-container {
    padding: 25px;
    align-self: self-start;
    justify-self: self-start;
}

.container-body h1 {
    font-family: "Electrolize", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #24394f;
    text-align: center;
    margin-block: 0 15px;
}



.container-body h2,
.page-section.third h2 {
    font-family: "Iceland", sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: #24394f;
    text-align: center;
    margin-block: 0 25px;
}

.first .container-body h1,
.first .container-body h2 {
    opacity: 0;
    visibility: hidden;
}

.countdown-container {
    text-align: center;
    padding: 5px;
    width: 100%;
    position: relative;
    font-family: "Iceland", sans-serif;
    font-size: 38px;
    /* background: #58a3f2; */
    height: 60px;
}

.countdown-text {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
}

.countdown-ready {
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}

.countdown-n3 {
    z-index: 2;
}

.countdown-n2 {
    z-index: 3;
}

.countdown-n1 {
    z-index: 4;
}

.countdown-go {
    z-index: 5;
}

.go-scroll {
    font-family: "Electrolize", sans-serif;
    font-size: 38px;
    font-weight: 500;
    color: #244f36;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}

.page-section.second {
    background-color: #58f2a6;
    height: 60vh;
}

.page-section.long{
    height: 300vh;
    width: 100%;
    display: block;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.page-section.sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    /* width: 100%; */
    z-index: 4;
    display: block;
    display: grid;
    place-items: center;
    justify-content: unset;
    align-items: unset;
    margin-block-end: 20%;
}

.page-section.third,
.page-section.features {
    z-index: 3;
    width: 100%;
    flex-direction: column;
}

.page-section.third h2,
.page-section.features h2 {
    color: #fff;
}

.slider-wrapper {
    position: relative;
    width: 100%;
}

.page-section.fourth {
    /* background-color: #a658f2; */
    background: linear-gradient(0deg, rgba(166, 88, 242, 1) 11%, rgba(147, 5, 255, 0.87) 41%, rgba(255, 255, 255, 1) 100%);

    height: 60vh;
    width: min(1400px, 100%);
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25%;
}

.page-section.fourth img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-section.fifth {
    background-color: #a7e96d;
    width: 100%;
    height: 60vh;
    z-index: 2;
    /* margin-block-start: 25%; */
}

.page-section.sixth {
    background-color: #f29b58;
    width: 100%;
    height: 60vh;
    z-index: 2;
    /* margin-block-start: 25%; */
}

.page-section.last {
    background-color: #58a3f2;
    height: 60vh;
    transform: translateY(-100px);
}

.animated-div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    z-index: 3;
    position: relative;
}

.title-list,
.features-list {
    width: min(450px, 100%);
    /* height: 300px; */
    padding-block: 35px;
    background-color: #f25858;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.title-list-item,
.features-title-item  {
    font-family: "Electrolize", sans-serif;
    font-size: 38px;
    font-weight: 700;
    color: #f5d6d6;
    /* margin-block-end: 10px; */
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.title-list-item.active,
.features-title-item.active  {
    opacity: 1;
}

.desc-list,
.features-desc-list{
    width: min(750px, 100%);
    height: 180px;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.desc-list-images,
.desc-list-texts {
    background-color: aliceblue;
    border-radius: 10px;
    padding: var(--desc-block-padding);
    overflow: hidden;
    position: relative;
    flex: 0 0 48%;
}

.desc-list-images__item {}

.desc-list-images__img,
.features-images__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 300 / 260;
}

.desc-list-item,
.desc-list-images__item,
.features-descs-item,
.features-images__item {
    height: 100%;
    opacity: 0;
    /* background-color: aliceblue; */
    /* margin-block-end: var(--desc-block-padding); */
    border-radius: 10px;
    padding: var(--desc-block-padding);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.desc-list-item.active,
.desc-list-images__item.active,
.features-descs-item.active,
.features-images__item.active {
    opacity: 1;
    background-color: aliceblue;
    pointer-events: auto;
}

/* .desc-list-item:first-of-type{
    background-color: aliceblue;
} */
.desc-list-item h3,
.features-descs-item h3 {
    font-family: "Electrolize", sans-serif;
    font-size: 22px;
    line-height: 1;
    margin: 0;
}

.desc-list-item p,
.features-descs-item p {
    font-family: "Iceland", sans-serif;
    font-size: 18px;
    line-height: 1.3;
}

/* Video scroll */
.image-srcoll-wrapper {
    width: 100%;
    height: 260vh;
    position: relative;
}

.banner-scroll-wrapper {
    width: 100%;
    height: 200vh;
    position: relative;
}

.bottom-banner {
    display: grid;
    place-items: center;
}

.bottom-banner__wrapper {
    display: grid;
    place-items: center;
}

.bottom-banner__img,
.bottom-banner__video {
    width: 100%;
    height: auto;
    z-index: 1;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.bottom-banner__body {
    z-index: 2;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    place-self: center;
    width: 100%;
    height: 100%;
    background-color: #00000078;
    display: grid;
    place-items: center;
}

.bottom-banner__h2 {
    color: white;
    font-size: 3rem;
    align-self: end;
}

.bottom-banner__h3 {
    color: white;
    font-size: 1.5rem;
    align-self: start;
}


/* New horizontal section */


.animated-div.featured {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 3;
    position: relative;
}

.page-section.feature{
    /* height: 300vh; */
    width: 100%;
    display: block;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}



.features-images,
.features-body {
    /* background-color: aliceblue; */
    border-radius: 10px;
    padding: var(--desc-block-padding);
    overflow: hidden;
    position: relative;
    /* flex: 0 0 48%; */
}

.features-images{
    background-color: aliceblue;
    flex: 0 0 48%;
    height: 425px;
}

.features-body{
    flex: 0 0 auto;
}

.features-descs {
    background-color: aliceblue;
    border-radius: 10px;
    padding: var(--desc-block-padding);
    overflow: hidden;
    position: relative;
    flex: 0 0 48%;
}

.feature .page-section.sticky {
    position: sticky;
    top: 0;
    height: auto;
    /* width: 100%; */
    z-index: 4;
    display: block;
    display: grid;
    place-items: center;
    justify-content: unset;
    align-items: unset;
    /* margin-block-end: 20%; */
    margin-block: 70px;
}